<div>
ID : {{x._id}}<br>
Username : {{x.username}}<br>
First Name : {{x.firstname}}<br>
Last Name : {{x.lastname}}<br>
Profession : {{x.profession}}<br>
Bio : {{x.bio}}<br>
<form method="GET" action="/logout">
<button type="submit">Logout</button>
</form>
</div>